# Ignore Python virtual environment
yt_venv/

# Python cache
__pycache__/

# Ignore environment file
.env

#folder generated while using Airflow
logs/

#ignoring the data for now
data/

# Ignore macOS system files
.DS_Store


#local temp files ignore
spot_jsoncrack.json
spot_testing.py
rough.py
rough2.py

