# Ignore Python virtual environment
venv/

# Python cache
__pycache__/

# Ignore environment file
.env

#folder generated while using Airflow
logs/

#ignoring the data for now
data/

#temp ignore
spot_jsoncrack.json
spot_testing.py
rough.py